.center{
    margin: 0 auto;
    width: 100%;
    background: #ebebeb;
}

.avatar{
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
.avatar img{
    width: 200px;
    height: 200px;
}
.about{
    margin: 0 auto;
    text-align: center;
 }
.about h3, h1{
    color: black;
    font-size: 30px;
}
.title{
    padding-left: 10px;
    padding-top: 5px;
    width: 100%;
    height: 50px;
    background: #1d68a7;
    border-radius: 5px;
    font-size: 25px;
    color: #ebebeb;
}
.content2 p, .content2 li, .content2 strong, .content2 em{
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

